$primary-color: rgb(138, 202, 181);

$secondary-color:#406dea;
$red : rgb(92, 32, 32) ;
$blue: #0094C6;
$dark-blue: #005E7C;
$light-blue: lightblue;
$black: #040f16;
$green: green;


$ipad-breakpoint: 768px;